/* Customer Css Start Here */
.customer_sec {
  padding: 60px 0;
  background: #0cecbf;
}

.customer_sec .content_wrapper .heading_wrapper {
  padding-bottom: 20px;
}

.customer_sec .content_wrapper .heading_wrapper h2 {
  font-size: 40px;
  color: #fff;
  transition: 0.5s;
  animation: zoomhead;
  -webkit-animation: zoomhead 3s ease 0s normal none;
}

@keyframes zoomhead {
  0.0% {
    transform: scale(1);
    color: #fff;
  }

  100% {
    transform: scale(1);
    color: #fff;
  }

  49.8% {
    transform: scale(1.1);
    color: #300c44;
  }
}

/* .customer_sec .content_wrapper .heading_wrapper h2:hover {
  transform: scale(1.1);
  color: #300c44;
} */
.customer_sec .content_wrapper .heading_wrapper h2 span.yellow {
  color: #fff35a;
}

.customer_sec .content_wrapper .heading_wrapper h2 span.pnk {
  color: #f66be0;
}

.customer_sec .content_wrapper .heading_wrapper h2 span.red {
  color: #ff4a3b;
}

.customer_sec .content_wrapper .heading_wrapper h4 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  font-family: "gotham-book";
  line-height: 45px;
  transition: 0.5s;
  animation: textmove 3s ease 0s normal none;
  -webkit-animation: textmove 3s ease 0s normal none;
}

@keyframes textmove {
  0.0% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }

  49.6% {
    transform: translate(10px);
    color: #fff;
  }
}

/* .customer_sec .content_wrapper .heading_wrapper h4:hover {
  transform: translateX(10px);
  color: #fff;
} */
.customer_sec .content_wrapper .heading_wrapper h4 span.receipt {
  margin-left: 4rem;
}

.customer_sec .content_wrapper p {
  font-family: "gotham-book";
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.customer_sec .content_wrapper p span.do_you {
  margin-left: 3rem;
}

.customer_sec .content_wrapper p span.do_you2 {
  margin-left: 6rem;
}

.customer_sec .content_wrapper p .ml2 {
  font-weight: 900;
  font-size: 1rem;
}

.customer_sec .content_wrapper p .ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.customer_sec .img_box {
  transition: 0.6s;
}

.customer_sec .img_box:hover {
  transform: skew(-10deg, -10deg);
}

/* Customer Css End Here */

/* Solution Sec Css Start Here */
.solution_sec {
  padding: 60px 0;
  background: #f8f8f8;
  position: relative;
}

.solution_sec .heading_wrapper {
  text-align: center;
  padding-bottom: 40px;
}

.solution_sec .heading_wrapper h2 {
  font-size: 42px;
  color: #0cecbf;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.solution_sec .heading_wrapper h2:hover {
  transform: scale(1.1);
  color: #300c44;
}

.solution_sec .heading_wrapper h2 span.pnk {
  color: #f66be0;
}

.solution_sec .heading_wrapper h2 .yellow {
  color: #fff35a;
}

.solution_sec .content_wrapper h4 {
  font-size: 20px;
  color: #000000;
  line-height: 30px;
}

.solution_sec .content_wrapper p {
  font-family: "gotham-book";
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.solution_sec .content_wrapper ul.points {
  padding-left: 1rem;
  margin: 0;
  /* list-style: none; */
}

.solution_sec .content_wrapper ul.points li {
  display: flex;
  margin: 10px 0;
  position: relative;
  padding-left: 1.5rem;
}

.solution_sec .content_wrapper ul.points li::before {
  content: "";
  background: url(../img/checked2.png) no-repeat;
  position: absolute;
  left: 0;
  height: 15px;
  background-size: 15px;
  top: 2px;
  width: 15px;
}

.solution_sec .content_wrapper ul.points li img {
  width: 17px;
  height: 17px;
  margin-top: 2px;
  margin-right: 5px;
}

.solution_sec .content_wrapper ul.points li p {
  font-size: 12px;
}

.solution_sec .content_wrapper ul.points li b {
  font-size: 13px;
  padding-right: 5px;
}

.solution_sec .button-group {
  text-align: center;
  margin-top: 40px;
}

.solution_sec .button-group a.diji-btn {
  background: #300c44;
  font-family: "gotham-book";
  letter-spacing: 1px;
  border-radius: 17px !important;
  padding: 17px 55px;
}

.calculator_sec {
  padding: 60px 0 0;
  position: relative;
  background: #0cecbf;
}

.calculator_sec .img_box {
  transition: 0.6s;
  animation: mobilemove 3s ease 0s infinite normal none;
  -webkit-animation: mobilemove 3s ease 0s infinite normal none;
}

.calculator_sec .content_wrapper ul img {
  width: 17px;
  margin-top: 2px;
}

/* .calculator_sec .img_box:hover {
  transform: translateX(-40px);
} */
@keyframes mobilemove {
  0% {
    transform: translateX(-40px);
  }

  50% {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
  }

  100% {
    transform: translate(-40px);
    -webkit-transform: translate(-40px);
    -moz-transform: translate(-40px);
    -ms-transform: translate(-40px);
    -o-transform: translate(-40px);
  }
}

.calculator_sec .content_wrapper .heading_wrapper h2 {
  font-size: 42px;
  color: #fff;
  line-height: 52px;
}

.calculator_sec .content_wrapper .heading_wrapper p {
  margin: 0;
}

.calculator_sec .content_wrapper p {
  font-family: "gotham-book";
  color: #000;
  font-weight: 800;
}

.calculator_sec .content_wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calculator_sec .content_wrapper ul li {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
  position: relative;
}

.calculator_sec .content_wrapper ul li::before {
  content: "";
  background: url(../img/checked.png) no-repeat;
  position: absolute;
  left: 0;
  height: 15px;
  background-size: 15px;
  top: 2px;
  width: 15px;
}

.calculator_sec .content_wrapper ul li p {
  margin-left: 25px;
  font-size: 15px;
}

/* Solution Sec Css End Here */

/* Benefit Sec Css Start Here */
.benefit_sec {
  padding: 50px 0;
  position: relative;
}

.benefit_sec .img_box {
  margin-left: -50px;
}

.benefit_sec .heading_wrapper {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 3rem;
}

.benefit_sec .heading_wrapper h2 {
  color: #0cecbf;
}

.benefit_sec .heading_wrapper p {
  /* color: #9f9f9f; */
  color: #000;
  font-family: "gotham-book";
}

.benefit_sec .heading_wrapper~.row .col-md-4:nth-child(odd) {
  /* margin-top: -300px; */
}

.benefit_sec .benefits_box {
  background: #fff;
  box-shadow: 0px 0px 5px #ddd;
  padding: 20px 30px;
  border-radius: 5px;
  height: 200px;
  max-width: 350px;
  margin: 20px auto;
  transition: 0.6s;
}

.benefit_sec .benefits_box:hover {
  background: #0cecbf;
}

.benefit_sec .benefits_box .heading_bar {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.benefit_sec .benefits_box .heading_bar h4 {
  font-size: 18px;
  line-height: 26px;
  flex-grow: 1;
}

.benefit_sec .benefits_box p {
  font-size: 11px;
  line-height: 20px;
  font-family: "gotham-book";
  font-weight: 700;
  color: #000;
}

.benefit_sec .benefits_box .heading_bar img {
  width: 50px;
}

.benefit_sec img.layer {
  /* margin-top: -200px; */
  margin-left: -58px;
}

section.calculator_sec~.benefit_sec .center-mobile {
  margin-top: -50%;
}

@media(max-width:1366px) {
  section.calculator_sec~.benefit_sec .center-mobile {
    margin-top: -55%;
  }
}

@media(max-width:1280px) {
  section.calculator_sec~.benefit_sec .center-mobile {
    margin-top: -60%;
  }
}

section.calculator_sec~.benefit_sec .col-md-4:nth-child(2) {
  /* margin-top: -200px; */
}

.benefits_box.benefitx {
  margin-top: 8rem;
}

/* Benefit Sec Css End Here */

/* Impact Css Start Here */
.impact_sec {
  padding: 60px 0;
  background: #0cecbf;
}

.impact_sec .img_box {
  transition: 0.6s;
}

.impact_sec .img_box:hover {
  transform: skew(-7deg, -1deg);
}

.impact_sec .content_wrapper {
  padding-left: 40px;
}

.impact_sec .content_wrapper .heading_wrapper {
  padding-bottom: 15px;
}

.impact_sec .content_wrapper .heading_wrapper h2 {
  color: #fff;
  font-size: 42px;
}

.impact_sec .content_wrapper p {
  font-family: "gotham-book";
  font-size: 13px;
  font-weight: 800;
  color: #000;
  font-size: 14px;
}

.impact_sec .content_wrapper .button-group {
  margin-top: 50px;
}

.impact_sec .content_wrapper .button-group a.diji-btn {
  background: #300c44;
  border-radius: 15px !important;
  font-family: "gotham-book";
  letter-spacing: 1px;
  padding: 16px 52px;
}

.impact_sec .tl_impact {
  margin: auto;
}

@media(max-width:991px) {
  .benefit_sec .heading_wrapper~.row .col-md-4:nth-child(odd) {
    /* margin-top: -200px; */
  }
}

/* Impact Css End Here */